

<form action="/home/update<%=@post.id%>" method="post">
  <div class="form-group">
    <label for="exampleFormControlInput1">Title</label>
    <input type="text" class="form-control" id="exampleFormControlInput1" name="title" placeholder="제목을 입력하세요" value="<%=@post.title%>">
    </div>
     <label for="exampleFormControlInput1">Content</label>
    <textarea class="form-control" rows="10" name="content" placeholder="내용을 입력하세요">/</textarea>
<button type="submit" class="btn btn-default">
    제출</button>
</form>
    </button>      
  </div>